<% self.title = "Login" %>

<form action="/o/oauth2/token" method="post" accept-charset="utf-8" class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <input type="hidden" name="code" value="" />
      <input type="hidden" name="client_id" value="" />
      <input type="hidden" name="client_secret" value="" />
      <input type="hidden" name="redirect_uri" value="" />
      <button type="submit" class="btn">Register</button>
    </div>
  </div>
</form>
