<%= self.title = "Login" %>
<form action="sessions/" method="post" accept-charset="utf-8">
  <input type="text" name="account[username]" id="username" value="" />
  <input type="password" name="account[password]" id="password" value="" />
</form>
