<% self.title = 'Login' %>

<div class="row-fluid">
  <div class="span3">
    &nbsp;
  </div><!--/span-->
  <div class="span9">
    <h1>Login</h1>
    <form class="form-inline" action="/sessions/" method="post">
      <input type="text" class="input-small" placeholder="Email">
      <input type="password" class="input-small" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </form>

    <h1>sign up</h1>
    <form class="form-horizontal" action="/registrations/" method="post">
      <div class="control-group">
        <label class="control-label" for="register-email">Email</label>
        <div class="controls">
          <input type="text" id="register-email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="register-password">Password</label>
        <div class="controls">
          <input type="password" id="register-password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form>
  </div><!--/span-->
</div><!--/row-->
