<% self.title = "Products" %>
<div class="row">
  <div class="span3"><a href="/">Home</a></div>
  <div class="span3"><a href="/products">Products</a> </div>
  <div class="span3"> </div>
</div>
<div class="row">
  <div class="span12">
    <h1>Products</h1>
    <p></p>
  </div>
</div>

