<% self.title = "Products" %>
<div class="row">
  <div class="span3"><a href="/">Home</a></div>
  <div class="span3"><a href="/products">Products</a> </div>
  <div class="span3"> </div>
</div>
<div class="row">
  <div class="span12">
    <h1>Products</h1>
    <a href="/products/new">New</a>
    <table>
      <% self.items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

