<h1>New Product</h1>
<form action="/products" method="post">
  <p>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="" placeholder="name" required="required" />
  </p>

  <input type="submit" value="Submit" />
  <input type="reset" value="Cancel" />
</form>
