<!DOCTYPE html>
<html>
<head>
  <title> <%= model.title %> - Booty</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <%= content %>
  </div>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
</body>
</html>
